<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <link rel="icon" href="https://d1jfzjx68gj8xs.cloudfront.net/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <!-- <h1>{{content}}</h1> -->
      <img class="portrait" src="http://www.canvaz.com/portrait/charcoal-1.jpg" alt="einstein">
    </div>
    {{>footer}}
  </body>
</html>
