<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="https://d1jfzjx68gj8xs.cloudfront.net/items/1J0Y1N1I441v1E2k3e2W/weather.png">
    <link rel="stylesheet" href={{style}}>
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <h1>{{content}}</h1>
    </div>

    {{>footer}}
  </body>
</html>
